html {font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;

}
body {
    box-sizing: border-box;
}


header {
        display: flex;
        width: 100%;
    flex-direction: row;
    border: 1px solid gray;
    flex-wrap: wrap;
    background-color: lightblue;

}

header a {
    text-decoration: none;

}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    padding-left: 0;
    }
li {list-style: none; 
    display: inline-block;
    text-align: center;
    background-color: lightgreen;
    padding: 5px;
    margin: auto;
    border: 2px solid lightblue;
}


.space {
    flex:1 1 auto;
}

section {
    display: flex;
    height: 450px;
    width: 90vw;
    background-color: yellow;
    padding:10px;
}

.stories {
    /* flex: auto; */
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   margin: 20px;
    
}

.stories img {
    width: 150px;
    height: 150px;
    }

img:hover{
    opacity: .5;
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035)
}

main {
    margin-top: 10px;
}

footer a {
    text-decoration: none;
}
.slide {
    background-color: blueviolet;
    height: 100px;
}